Repository Atharva-Phatak/torchflare, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, test

.github/labeler.yml:

#Add 'docs' to any changes within 'docs' folder or any subfolders
documentation:
- docs/**/*

example:
- examples/**/*

test:
- tests/**/*

documentation-updates
  README.md
  docs/source/API/torchflare.datasets.rst
  docs/source/API/torchflare.metrics.rst
  docs/source/API/torchflare.rst
  docs/source/API/torchflare.utils.rst
  docs/source/Tutorials/advanced-tutorials/gans.rst
  docs/source/Tutorials/index.rst
  docs/source/index.rst
Labels: documentation

example-corrections
  docs/source/Tutorials/basic-tutorials/quickstart.rst
  examples/Advanced-Tutorials/gans/dcgan.py
  examples/Basic-Tutorials/image_classification.py
Labels: documentation, example

updated-examples and readme
  README.md
  examples/Advanced-Tutorials/self-supervision/ssl_byol.py
  examples/Basic-Tutorials/text_classification.py
  requirements.txt
Labels: example

added config for issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

added yaml font-matter
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

restructured Logo
  docs/source/_static/TorchFlare_official.png
Labels: documentation

update logo in readme.md
  README.md
Labels: none

removed redundant folders
  torchflare/metrics/fbeta_meter.py
Labels: none

bumped neptune-client
  requirements/test_requirements.txt
Labels: none

[ImgBot] Optimize images
  assets/TorchFlare_official.png
  assets/logo.png
  docs/source/_static/TorchFlare_official.png
  docs/source/_static/logo.png
  tests/datasets/data/image_classification/csv_data/images/Train_112.jpg
  tests/datasets/data/image_classification/csv_data/images/Train_1281.jpg
  tests/datasets/data/image_classification/csv_data/images/Train_415.jpg
  tests/datasets/data/image_classification/csv_data/images/Train_545.jpg
  tests/datasets/data/image_classification/csv_data/images/Train_947.jpg
  tests/datasets/data/image_classification/folder_data/test_data/cat.4001.jpg
  tests/datasets/data/image_classification/folder_data/test_data/cat.4002.jpg
  tests/datasets/data/image_classification/folder_data/test_data/cat.4003.jpg
  tests/datasets/data/image_classification/folder_data/train_data/cats/cat.1.jpg
  tests/datasets/data/image_classification/folder_data/train_data/cats/cat.2.jpg
  tests/datasets/data/image_classification/folder_data/train_data/cats/cat.4.jpg
  tests/datasets/data/image_classification/folder_data/train_data/cats/cat.5.jpg
  tests/datasets/data/image_classification/folder_data/train_data/dogs/dog.1.jpg
  tests/datasets/data/image_classification/folder_data/train_data/dogs/dog.2.jpg
  tests/datasets/data/image_classification/folder_data/train_data/dogs/dog.3.jpg
  tests/datasets/data/image_classification/folder_data/train_data/dogs/dog.4.jpg
  tests/datasets/data/image_classification/folder_data/train_data/dogs/dog.5.jpg
  tests/datasets/data/image_segmentation/csv_data/images/0011165.jpg
  tests/datasets/data/image_segmentation/csv_data/images/002be4f.jpg
  tests/datasets/data/image_segmentation/folder_data/images/00a3af90ab.png
  tests/datasets/data/image_segmentation/folder_data/images/0a18b314fc.png
  tests/datasets/data/image_segmentation/folder_data/images/0a7e067255.png
Labels: documentation, test

Update auto_assign.yml
  .github/auto_assign.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

requirements fix
  requirements.txt
Labels: none

remove dependabot
  .github/dependabot.yml
Labels: none

modify requirements
  .pre-commit-config.yaml
  requirements.txt
Labels: none

Adding Accelerate class
  torchflare/experiments/backends.py
Labels: none

Acclerate class
  torchflare/experiments/backends.py
  torchflare/experiments/base_backend.py
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none
